.container{
	display: grid; 
	grid-template: 120px 1fr 120px / 400px 1fr;
	grid-template-areas: "header header" 
                         "left contenido" 
                         "footer footer";
	grid-gap: 20px;
	height: 100vh;

}
.header{
	grid-area: header;
	
}
.left{
	grid-area: left;
	background-color:  papayawhip;
    
}
.contenido{
    
	grid-area: contenido;
	background-color: lightpink;
}
.footer{
	grid-area: footer;
	
}
.item{
	
	padding: 10px;
	color: black;
	border-radius: 10px;
	box-shadow: 10%;
			
}
*{
	font-family: 'Concert One';
	font-size: medium;
}
h1{
	font-size: xx-large;
	color: rgb(136, 83, 133);
}
h4{
	font-size: x-large;
}
body{
	background-image: url(cca.jpg);
	opacity: 0,5;
	background-repeat: repeat;
	backdrop-filter: blur(5px);
}